{% extends "auctions/layout.html" %}

{% block title %}
    Add Catigory
{% endblock %}

{% block body %}
<h3 class="col-md-4 offset-md-4 text-center">Add Catigory:</h3>

<div class="col-md-4 offset-md-1">
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            {% if form.error %}

            <div class="alert alert-danger">
                "Error"
            </div>

            {% endif %}
          {{form}}
        </div>
        
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
</div>
    
{% endblock %}