{% extends "auctions/layout.html" %}

{% block body %}
<h3 class="col-md-4 offset-md-4 text-center">Active Listings</h3>

<div class="row row-cols-1 row-cols-md-4 g-4">

    {% for lot in lots %}

    <div class="col">
      <div class="card h-100">
        <img src="{{ lot.lot_img.url }}" class="card-img-top" alt="Lot Img">
        <div class="card-body">
          <h5 class="card-title">{{lot.lot_title}}</h5>
          <p class="card-text">{{lot.lot_description | truncatewords:3}} </p>
          <p class="card-text">Owner: {{lot.lot_owner}} </p>
          <a href="#" class="btn btn-primary">Show</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">$ {{lot.lot_price|floatformat:"2g"}}</small>
        </div>
      </div>
    </div>

    {% empty %}

            <h2> No Lots </h2>

    {% endfor%}
    
  </div>    

{% endblock %}