{% extends "auctions/layout.html" %}

{% block title %}
    Lot Details
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <h3 class="text-center">Lot: {{lot.lot_title}}</h3>        
                <strong>Descriptions:</strong>
                <p>{{lot.lot_description}}</p>
                <strong>Catigory:</strong> {{lot.lot_catigory}} <br>
                <strong>Prise: </strong>${{lot.lot_price|floatformat:"2g"}} <br>
                <strong>Last Bid: </strong>${{bid|floatformat:"2g"}} <br>
                <strong>Owner: </strong>${{lot.lot_owner}} <br>
                
                {% if request.user != lot.lot_owner and not watchlist_counter %}
                    
                    <form action="{% url 'add_to_watchlist_url' lot_id=lot.id %}" method="post">
                        {% csrf_token%}
                        <button class="btn btn-link btn-sm" type="submit">Add To WatchList</button>
                    </form>

                {% endif %}

                <img src="{{ lot.lot_img.url }}" class="img-fluid rounded float-start mb-3" alt="Lot Img">
            </div>
                <br>
            <div>
                <form action="{% url 'bid_add_url' lot_id=lot.id %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {% if bid_form.bid.errors %}
                            
                                {{ bid_form.bid.errors }}
                            
                         {% endif %}
                    
                        {{bid_form.bid}}
                    </div>           

                    <button class="btn btn-primary">Bid</button>
                                       
                </form>
            </div>          
        </div>
        <div class="col">
            {% if comments %}            
            <div style="max-height: 300px;
                        overflow: auto;
                        border: solid 1px rgb(201, 201, 201);
                        padding: 20px;
                        border-radius: 5px;">

                {% for comment in comments%}
              
                <figure>
                    <blockquote class="blockquote">
                        <p>{{comment.comment_text}}</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        {{comment.comment_user_name}} <cite title="Source Title">{{comment.comment_data_create}}</cite>
                    </figcaption>
                </figure>

                {% endfor %}
            
            </div>
            {% endif %}

            <br>

            <form action="{% url 'comment_add_url' lot_id=lot.id %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {% if comment_form.comment_text.errors %}
                        <div class="alert alert-danger">
                            {{ comment_form.comment_text.errors }}
                        </div>
                    {% endif %}
                    {{comment_form.comment_text}}
                </div>                
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </form>                    
            
        </div>      
    </div>
  </div>
{% endblock %}