{% extends "auctions/layout.html" %}

{% block body %}
<h3 class="col-md-4 offset-md-4 text-center">Whatched List: {{request.user}}</h3>

<div class="row row-cols-1 row-cols-md-5 g-3">

    {% for lot in lots %}

    <div class="col">
        <div class="card h-100">
            
            <img src="{{ lot.watchlist_lot.lot_img.url }}" class="card-img-top" alt="Lot Img">
            
            <div class="card-body">
            <h5 class="card-title">{{lot.watchlist_lot.lot_title}}</h5>
            <p class="card-text">{{lot.watchlist_lot.lot_description | truncatewords:3}} </p>
            <p class="card-text">Owner: {{lot.watchlist_lot.lot_owner}} </p>
            <a href="{% url 'lot_detail_url' lot_id=lot.watchlist_lot.id %}" class="btn btn-primary">Show</a>
            </div>
            <div class="card-footer">
            <small class="text-muted">$ {{lot.watchlist_lot.lot_price|floatformat:"2g"}}</small>
            </div>
        </div>

        <form action="{% url 'watchlist_lot_delete_url' lot_id=lot.id %}" method="post">
            {% csrf_token%}
            <button class="btn btn-link btn-sm" type="submit">Delete From WatchList</button>
        </form>
       
    </div>

    {% empty %}

            <h2> No Lots </h2>

    {% endfor%}
    
  </div>    

{% endblock %}